<div class="bg-coffee-cream border border-coffee-brown/20 rounded-lg overflow-hidden hover:shadow transition">

  <div class="relative">
    <img
      [src]="game.coverUrl"
      [alt]="game.title"
      class="w-full h-40 object-cover"
    />
  </div>

  <!-- content -->
  <div class="p-4 space-y-2">
    <h3 class="text-lg font-press-start">{{ game.title }}</h3>
    <p class="text-sm text-muted-foreground">{{ game.developer }}</p>

    <div class="flex flex-wrap gap-2">
              <span
                *ngFor="let cat of game.genres"
                class="px-2 py-1 border border-coffee-brown/20 rounded-full text-xs"
              >
                {{ cat }}
              </span>
    </div>

    <div class="flex items-center justify-between text-sm text-coffee-brown">
      <div class="flex space-x-1">
        <lucide-icon name="star" class="w-4 h-4 text-yellow-500"></lucide-icon>
        <span>{{ game.rating }}</span>
      </div>
      <div class="flex space-x-1">
        <lucide-icon name="clock" class="w-4 h-4"></lucide-icon>
        <span>{{ game.releaseDate }}</span>
      </div>
    </div>

    <div class="flex items-center justify-between">
      <div class="flex items-center space-x-2 text-sm">
        <lucide-icon name="monitor" class="w-4 h-4"></lucide-icon>
        <span>{{ game.platforms.join(', ') }}</span>
      </div>
      <span class="text-xl font-bold">
                {{  game.price }}
              </span>
    </div>

    <button
      class="w-full mt-3 px-4 py-2 bg-coffee-yellow/50 text-coffee-brown font-press-start rounded inline-flex items-center justify-center hover:bg-coffee-yellow transition"
    >
      <lucide-icon name="shopping-cart" class="w-4 h-4 mr-2"></lucide-icon>
      Añadir al Carrito
    </button>
  </div>
</div>
