@import "tailwindcss";

@font-face {
  font-family: 'Nunito';
  src: url('/assets/fonts/Nunito-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Press Start 2P';
  src: url('/assets/fonts/PressStart2P-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --font-nunito: "Nunito", sans-serif;
  --text-nav: 24px;
  --color-nav: #464039;
}

body {
  background: #FDF9ED;
  font-family: 'Nunito', sans-serif;
}
